a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

ul {
  padding: 0px;
  li {
    list-style: none;
  }
}

.sidenav-caption {
  margin-left: 6px;
}

mat-nav-list{
  height: 100%;
}
