<mat-nav-list fxLayout="column">
  <div fxFlex>
    <ul>
      <li>
        <a mat-list-item>
          Task1
        </a>
      </li>
      <li>
        <a mat-list-item>
          Task2
        </a>
      </li>
      <li>
        <a mat-list-item>
          Tips
        </a>
      </li>
      <li>
        <a mat-list-item>
          Courses
        </a>
      </li>
      <li>
        <a mat-list-item>
          Materials
        </a>
      </li>
    </ul>
  </div>

  <div fxFlex fxLayout="column" fxLayoutAlign="flex-end">
    <ul>
      <li>
        <a mat-list-item>
          <mat-icon>favorite</mat-icon>
          <span class="sidenav-caption">Favorite</span>
        </a>
      </li>
      <li>
        <a mat-list-item>
          <mat-icon>share</mat-icon>
          <span class="sidenav-caption">Share</span>
        </a>
      </li>
      <li>
        <a mat-list-item>
          <mat-icon>login</mat-icon>
          <span class="sidenav-caption">Login</span>
        </a>
      </li>
      <li>
        <a mat-list-item>
          <mat-icon>exit_to_app</mat-icon>
          <span class="sidenav-caption">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</mat-nav-list>
