<mat-toolbar color="primary">
  <div fxHide.gt-sm>
    <button mat-icon-button (click)="onToggleSidnav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">IELTS with Jake</a>
  </div>

  <div fxFlex fxLayout="row" fxLayoutAlign="start stretch" fxHide.lt-md>
    <ul fxLayout="row">
      <li>
        <button mat-flat-button routerLink="/task1" color="primary">Task1
        </button>
      </li>
      <li>
        <button mat-flat-button routerLink="/task2" color="primary">Task2
        </button>
      </li>
      <li>
        <button mat-flat-button routerLink="/tips" color="primary">Tips
        </button>
      </li>
      <li>
        <button mat-flat-button routerLink="/courses" color="primary">Courses
        </button>
      </li>
      <li>
        <button mat-flat-button routerLink="/materials" color="primary">Materials
        </button>
      </li>
    </ul>
  </div>



  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <ul fxLayout="row">
      <li>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
      </li>
      <li>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </li>
      <li>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            sign out
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar>
