<div class="card-container" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center">
  <div fxFlex fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="center">
    <a routerLink="/task1">
      <app-category-card title="Ielts Task1"
      description="The Writing Task 1 of the IELTS Academic test requires you to write a summary of at least 150 words in response to a particular graph (bar, line or pie graph), table, chart, or process (how something works, how something is done)." imgSrc="../../assets/imgs/task1.jpeg">
      </app-category-card>
    </a>
    <a routerLink="/task2">
      <app-category-card title="Ielts Task2" description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur mollitia omnis maiores amet quibusdam. Dolorum, iure excepturi. Provident, architecto odit quibusdam sit sapiente perferendis ad blanditiis, voluptate eaque necessitatibus enim." imgSrc="../../assets/imgs/task2.jpeg">
      </app-category-card>
    </a>
    <a routerLink="/task2">
      <app-category-card title="Ielts Training" description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur mollitia omnis maiores amet quibusdam. Dolorum, iure excepturi. Provident, architecto odit quibusdam sit sapiente perferendis ad blanditiis, voluptate eaque necessitatibus enim." imgSrc="../../assets/imgs/courses.jpeg">
      </app-category-card>
    </a>
  </div>

  <div fxFlex fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="center">
    <a routerLink="/tips">
      <app-category-card title="Ielts Tips"
      description="The Writing Task 1 of the IELTS Academic test requires you to write a summary of at least 150 words in response to a particular graph (bar, line or pie graph), table, chart, or process (how something works, how something is done)." imgSrc="../../assets/imgs/task1.jpeg">
      </app-category-card>
    </a>
    <a routerLink="/courses">
      <app-category-card title="Ielts Courses" description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur mollitia omnis maiores amet quibusdam. Dolorum, iure excepturi. Provident, architecto odit quibusdam sit sapiente perferendis ad blanditiis, voluptate eaque necessitatibus enim." imgSrc="../../assets/imgs/task2.jpeg">
      </app-category-card>
    </a>
    <a routerLink="/materials">
      <app-category-card title="Ielts Materials" description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur mollitia omnis maiores amet quibusdam. Dolorum, iure excepturi. Provident, architecto odit quibusdam sit sapiente perferendis ad blanditiis, voluptate eaque necessitatibus enim." imgSrc="../../assets/imgs/courses.jpeg">
      </app-category-card>
    </a>
  </div>
</div>
